includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '~Parameter #1 \$view of function view expects view-string~'
